body{
    background-color: aqua;
}

#listaDeCompras{
    background-color: rgb(1, 234, 255);
    width: 23%;
    border-radius: 10px;
}

#itemInput{
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    color: black;
}

.btinput{
    background-color: greenyellow;
    border-radius: 10px;
}

#totalItens{
    font-family: Georgia, 'Times New Roman', Times, serif;
}